
          <div class="row">
            <div class="col-md-4 grid-margin">
              <div class="card posrel">
                <div class="card-body">
                  <div style="text-align:center;">
                    <h4 class="card-title">SUMMARY</h4>
                    <img src="<%=userPicture%>" alt="image" class="summary-img">

                  <p class="card-description">
                    Horizontal form layout
                  </p>
                  <form class="forms-sample">
                    
                  </form>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-8 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">DETAILS</h4>
                  <p class="card-description">
                    Basic form layout
                  </p>


                  <form class="forms-sample">
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="exampleInputFirstName1">First Name</label>
                          <input type="text" class="form-control r1" id="exampleInputFirstName1" placeholder="FirstName">
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="exampleInputFirstName1">LastName</label>
                          <input type="text" class="form-control r1" id="exampleInputLastName1" placeholder="LastName">
                        </div>
                      </div>
                    </div>
                    
                    <div class="form-group">
                      <label for="exampleInputPassword1">Password</label>
                      <input type="password" class="form-control r1" id="exampleInputPassword1" placeholder="Password">
                    </div>
                    <div class="form-group">
                      <label for="exampleInputConfirmPassword1">Confirm Password</label>
                      <input type="password" class="form-control r1" id="exampleInputConfirmPassword1" placeholder="Password">
                    </div>
                    <div class="form-check form-check-flat form-check-primary">
                      <label class="form-check-label">
                        <input type="checkbox" class="form-check-input">
                        Remember me
                      <i class="input-helper"></i></label>
                    </div>
                    <button type="submit" class="btn btn-primary mr-2 r1">Submit</button>
                    <button class="btn btn-light">Cancel</button>
                  </form>


                </div>
              </div>
            </div>
          </div>
 