
          <div class="row">
            <div class="col-md-6 grid-margin">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">EMAIL NOTIFICATION</h4>
                  <p class="card-description">
                    We offer notification feature to inform you via email, for every transaction you perform with this platform.<br>
                    To enable email notification on any transaction you perform, please check this
                  </p>


                  <div class="form-check">
                    <label class="form-check-label">
                      <input type="checkbox" class="form-check-input" id="enotice" checked="">
                      Check here...
                    <i class="input-helper"></i></label>
                  </div>
                    
                  </form>


                </div>
              </div>
            </div>
            <div class="col-md-6 grid-margin">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">WITHDRAWAL WALLET ADDRESS</h4>
                  <p class="card-description">
                    You can set an external wallet you want your withdrawn funds to be transfered to. <br><b>Note:</b> You would still be notified if you wan to use this address befor any withdrawal transaction is carried out.
                  </p>


                  <div class="form-check">
                    <label class="form-check-label">
                      <input type="checkbox" class="form-check-input" id="enotice" checked="">
                      Check here...
                    <i class="input-helper"></i></label>
                  </div>
                    
                  </form>


                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 grid-margin">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">EMAIL NOTIFICATION</h4>
                  <p class="card-description">
                    We offer notification feature to inform you via email, for every transaction you perform with this platform.<br>
                    To enable email notification on any transaction you perform, please check this
                  </p>


                  <div class="form-check">
                    <label class="form-check-label">
                      <input type="checkbox" class="form-check-input" id="enotice" checked="">
                      Check here...
                    <i class="input-helper"></i></label>
                  </div>
                    
                  </form>


                </div>
              </div>
            </div>
            <div class="col-md-6 grid-margin">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">WITHDRAWAL WALLET ADDRESS</h4>
                  <p class="card-description">
                    You can set an external wallet you want your withdrawn funds to be transfered to. <br><b>Note:</b> You would still be notified if you wan to use this address befor any withdrawal transaction is carried out.
                  </p>


                  <div class="form-check">
                    <label class="form-check-label">
                      <input type="checkbox" class="form-check-input" id="enotice" checked="">
                      Check here...
                    <i class="input-helper"></i></label>
                  </div>
                    
                  </form>


                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 grid-margin">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">EMAIL NOTIFICATION</h4>
                  <p class="card-description">
                    We offer notification feature to inform you via email, for every transaction you perform with this platform.<br>
                    To enable email notification on any transaction you perform, please check this
                  </p>


                  <div class="form-check">
                    <label class="form-check-label">
                      <input type="checkbox" class="form-check-input" id="enotice" checked="">
                      Check here...
                    <i class="input-helper"></i></label>
                  </div>
                    
                  </form>


                </div>
              </div>
            </div>
            <div class="col-md-6 grid-margin">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">WITHDRAWAL WALLET ADDRESS</h4>
                  <p class="card-description">
                    You can set an external wallet you want your withdrawn funds to be transfered to. <br><b>Note:</b> You would still be notified if you wan to use this address befor any withdrawal transaction is carried out.
                  </p>


                  <div class="form-check">
                    <label class="form-check-label">
                      <input type="checkbox" class="form-check-input" id="enotice" checked="">
                      Check here...
                    <i class="input-helper"></i></label>
                  </div>
                    
                  </form>


                </div>
              </div>
            </div>
          </div>
 